/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;

  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(111, 55%, 64%, 0.801),
      hsla(160, 64%, 43%, 0.801)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.logo {
  height: 3.5rem;
}
.logo:hover {
  animation: moveInLeft 1s ease-in-out;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 2s ease-in-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74 rem;
  animation: moveInRight 2s ease-in-out;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translate(10rem);
    opacity: 0;
  }
  80% {
    transform: translate(-0.5rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover::after {
  background-color: white;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-white::after {
  color: white;
}

.btn-animated {
  animation: moveInBottom 1s ease-out 1s;
  animation-fill-mode: backwards;
}
