.feature-box {
  background-color: rgba($color: $color-white, $alpha: 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);

  transition: all 0.3s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to left,
      $color-primary-dark,
      $color-primary-light
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: scale(1.05) translateY(-1rem);
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.15);
  }
  &:active {
    transform: scale(1.02) translateY(-0.5rem);
  }
}
